{% extends 'main.html' %}

{% block content %}
<div class="container">
    <img src="https://wnmarathon.runc.run/uploads/page_card_photos/WhiteNights_Photo_01.jpg" alt="Изображение бега">
    <div class="container-text">
      <h1>Легких ног</h1>
      <button class="btn btn-primary">Найти забег</button>
    </div>
  </div>
  <div class="container text-container mb-5">
    <h2>О пользе бега</h2>
    <li>Улучшается работа лёгких, повышается эффективность газообмена, укрепляется сердечно-сосудистая система.</li>
    <li>Иммунная система организма становится более устойчива к вирусам и бактериям.</li>
    <li>Нервная система работает активнее. Повышается активность работы мозга. Бег помогает справиться и предотвратить депрессию.</li>
    <li>Для нормализации сна, бег уравновешивает симпатическую и парасимпатическую нервную системы.</li>
    <li>Повышается работоспособность после тренировок, мозг работает быстрее, чем у тех, кто не бегает. Организм после бега вырабатывает больше таких гормонов, как эндорфины, серотонин и дофамин, что, собственно, и влияет на настроение.</li>
    <h2>Как начать бегать</h2>
    <li>Типичная ошибка начинающего бегуна — стремление добиться всего и сразу. Но если до того как начать заниматься бегом, вы обычно двигались мало, то тренировки станут стрессом.</li>
    <li>Важно понимать, что высокие нагрузки на первых занятиях могут ухудшить самочувствие и вызвать боли в мышцах и суставах. Лучше увеличивать темп постепенно.</li>
    <li>В первый раз вместо бега пройтись по маршруту со сменой быстрого и медленного шага.</li>
    <li>Дальше можно увеличивать скорость — чередовать одну минуту бега и две минуты ходьбы, с каждым повтором увеличивая время беговой части.</li>
    <li>Не спешите — в первый месяц занятий не рекомендуется тренироваться дольше 15–20 минут в день и чаще 3–4 раз в неделю.</li>
    <li>Делайте паузы между тренировками — в самом начале можно бегать через день, чтобы организм успевал восстановиться и отдохнуть.</li>
  </div>
  <div class="container-fluid footer">
    <div class="row">
      <div class="col">
        <p>Контакты</p>
      </div>
      <div class="col">
        <p>О нас</p>
      </div>
    </div>
  </div>
{% endblock %}