{% extends 'main.html' %}

{% block content %}
<h1>Добавить информацию о забеге</h1>
<div class="row">
    <div class="col-sm">
        <form action="" method="post">
            {{ form.csrf_token }}
            {{ form.name.label }}<br>
            {{ form.name }}
            <br>
            {{ form.distance.label }}<br>
            {{ form.distance}}
            <br>
            {{ form.date.label }}<br>  
            {{ form.date}}
            <br>
            {{ form.location.label }}<br>
            {{ form.location }}
            <br>
            {{ form.info.label }}<br>
            {{ form.info }}
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark">{{ form.submit.label }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
